/* PCサイズ中の場合は以下を適用する:1280px以下 */
@media all and (max-width: 1380px) {
    .container{
        width: 1280px;
    }

    .primary{
        width: 737px;
    }
    .secondary{
        width: 368px;
    }

    .contents-left{
        margin-right:10px;
    }

    .contents-right{
        margin-left:10px;
    }

    .news-message{
        width: 511px;
    }
}

/* PCサイズの場合は以下を適用する:1280px以下 */
@media all and (max-width: 1280px) {
    .container{
        width: 1180px;
    }

    .primary{
        width: 675px;
    }
    .secondary{
        width: 337px;
    }

    .contents-left{
        margin-right:10px;
    }

    .contents-right{
        margin-left:10px;
    }

    .news-message{
        width: 511px;
    }
}

/* PCサイズの場合は以下を適用する:1180px以下 */
@media all and (max-width: 1180px) {
    .container{
        width: 980px;
    }

    .primary{
        width: 612px;
    }
    .secondary{
        width: 306px;
    }

    .news-message{
        width: 468px;
    }
}

/* PCサイズの場合は以下を適用する:1180px以下 */
@media all and (max-width: 1080px) {
    .container{
        width: 880px;
    }

    .primary{
        width: 550px;
    }
    .secondary{
        width: 275px;
    }

    .news-message{
        width: 424px;
    }
}

/* タブレットサイズの場合は以下を適用する:1024px以下 */
@media all and (max-width: 1024px) {
    .container{
        width: 824px;
    }

    .contents{
        flex-direction: column;
    }

    .primary{
        width: 100%;
    }

    .about-content {
        width: 100%;
    }

    .about-content img{
        margin-bottom: 10px;
    }

    .about-contents{
        flex-direction: column;
    }

    .contents-left{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .contents-right{
        margin-left: 0;
    }

    .secondary{
        width: 100%;
    }

    .side-images{
        width: 90%;
        margin: 0 auto;
    }

    .news-content{
        flex-direction: column;
    }

    .news-message{
        margin-left: 0;
        width: 100%;
    }

    .news-btn{
        text-align: center;
        margin-bottom: 60px;
    }

    .btn{
        padding: 10px 0;
    }
}

/* タブレットサイズの場合は以下を適用する:1024px以下 */
@media all and (max-width: 924px) {
    .container{
        width: 774px;
    }
}

/* タブレットサイズの場合は以下を適用する:1024px以下 */
@media all and (max-width: 824px) {
    .container{
        width: 674px;
    }
}

/* タブレットサイズの場合は以下を適用する:1024px以下 */
@media all and (max-width: 724px) {
    .container{
        width: 574px;
    }
}

/* タブレットサイズの場合は以下を適用する:1024px以下 */
@media all and (max-width: 624px) {
    .contents-wrapper{
        margin:20px 0 ;
    }
    .container{
        width: 90%;
    }

    .header-content{
        flex-direction: column;
    }

    header{
        height:80px;
    }

    .header-list{
        margin-left:0;
    }

    .header-logo p{
        font-size: 18px;
        line-height: 40px;
    }

    .header-list a{
        font-size: 14px;
        display: block;
        margin-left:0;
        margin-right:30px;
        line-height: 20px;
    }

    .about{
        margin-bottom: 60px;
    }

    .heading p{
        font-size: 22px;
    }

    .category-list li{ 
        font-size: 14px;
    }
}

/* タブレットサイズの場合は以下を適用する:1024px以下 */
@media all and (max-width: 524px) {
    .header-list a{
        margin-right:10px;
    }
}

