html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  max-width:1280px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper img{
    width: 100%;
}

.container{
    max-width:1080px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height:65px;
}

.header-content{
    display: flex;
    margin:22px 0;
}

.header-logo{
    font-weight:bold;
    font-size:31px;
    line-height: 53px;
    color: #1F91BE;
}

.header-list{
    margin-left:auto;
}

.header-list a{
    margin-left:30px;
    font-weight:bold;
    font-size:17px;
    line-height: 29px;
    letter-spacing: 0;
    color: #333333;
}

.contents-wrapper{
    margin: 100px 0;
}

.heading{
    font-weight:bold;
    font-size:32px;
    line-height: 54px;
    color: #1F91BE;
    border-bottom: 4px solid #1F91BE;
    margin-bottom: 30px;
}

.primary{
    width: 700px;
    margin-right: 80px;
}

.secondary{
    width: 300px;
}

.contents{
    display: flex;
}

.side-images{
    display: flex;
    flex-wrap: wrap;
}

.side-image{
    width: 100%;
}

.about-contents{
    display: flex;
}

.about-content{
    width: 320px;
}

.about-content img{
    margin-bottom: 30px;
}

.about-content p{
    font-size: 16px;
    line-height: 27px;
    color: #333333;
}

.contents-right{
    margin-left:auto;
}

.news{
    margin-top: 20px;
}

.news-content{
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.news-date{
    font-weight:bold;
    font-size:14px;
    line-height: 28px;
    color: #333333;
}

.news-message{
    margin-left:auto;
    width: 555px;
}

.news-message p{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.news-btn{
    text-align: right;
}

.btn{
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    width: 148px;
    font: Bold 16px/11px YuGothic;
    color:#1F91BE;
    border: 2px solid #1F91BE;
}

.side-images{
    margin-bottom: 10px;
}

.side-image{
    margin-bottom: 30px;
}

.heading-category{
    font-size:24px;
}

.category-list{
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #C7C7C7;
    height: 50px;
}

.copyright{
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
    color: #FFFFFF;
}